@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #ffffffe0;   
    
}

h1 {
    font-family: 'Lora', sans-serif;
    text-align: center;
    margin: 30px 0px;
}

img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}



header {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 15%;
    height: 70px;
    width: 100%;
}

.image{
    width: 10px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 45px auto;
    width: 90%;
    flex-wrap: wrap;
    gap: 40px;
}

.contenedor>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    flex-direction: column;
    padding-top: 35px;
    gap: 25px;
    flex: 1 1 300px;
}

.contenedor>div>form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedor>div>form>input,
select {
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
}
option{
    color: black;
}

.contenedor .button {
    margin-top: 20px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: black;
}

.contenedorProductos h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 40px;
}

.mostrarProductos {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.mostrarProductos>div {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    border-radius: 20px;
}

.informacion  {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: #000000;
}

span {
  color: #000000;
}

.informacion>p:first-child {
    font-family: 'Lora', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #000000;
}

.informacion .precio {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}


.contenedorMensaje {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    height: 70px;
}

.repetidoError,
.realizado,
.llenarCampos,
.noExsiteError {
    margin: 15px 0px;
}

.llenarCampos::after,
.noExsiteError::after,
.repetidoError::after,
.realizado::after {
    background-color: red;
    font-size: 17px;
    padding: 10px;
    border-radius: 10px;
}

.realizado::after {
    content: 'Realizado';
    background-color: green;
}

.repetidoError::after {
    content: 'Este elemento ya existe';
}

.llenarCampos::after {
    content: 'Por favor compruebe que todos los campos estan llenos';
}

.noExsiteError::after {
    content: 'Este elemento no existe';
}


/*MENU NAV*/  
    .hero {
        /* margin: 0; */
        background: rgba(0, 0, 0, 0.575);
        color: #fff;
        /* display: grid; */
        grid-template-rows: max-content 1fr;
        grid-template-areas:
            "nav"
            "content";
        width: 100%;
        position: fixed;
        z-index: 999;
    }

  
  .nav__logo {
  
    font-size: 2rem;
    font-weight: 300px;
    font-family: "Lora", sans-serif;
  }
  
  .navbar {    
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    padding: 5px 30px;
    
  }
  
  .navbar .nav-header {
    margin: auto;
    display: inline;
  }
  .navbar .nav-header .nav-logo {
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links {
    display: inline;
    float: right;
    font-size: 5px;
  }
  
  /*Tipografia menu*/
  .navbar .nav-links a {
    font-family: "Lato", sans-serif;
    padding: 20px 12px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
  }
  /* Hover effects */
  .navbar .nav-links a:hover {
    background-color: #fa9e69;
    border-radius: 6px;
  }
  
  /* responsive navbar toggle button */
  .navbar #nav-check,
  .navbar .nav-btn {
    display: none;
  }
  
  @media (max-width: 700px) {

    .navbar{
      background-color: #94999c;
    }
    .nav__logo{
      z-index: 2000;
    }
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 70px);
      overflow-y: auto;
      
    }
    .navbar .nav-btn {
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
      
    }
    /*Icono Hamburguesa*/
    .navbar .nav-btn label {
      display: inline-block;  
      width: 80px;
      height: 70px;
      padding: 25px;
    }
  
    /*Color lineas hamburguesa*/
   
    .navbar .nav-btn label:hover,
    .navbar #nav-check:checked ~ .nav-btn label {
      transition: all 0.5s ease;
    }
    /* Color fondo Menu Hamburguesa*/
    .navbar .nav-links {
      position: absolute;
      display: block;
      text-align: center;
      justify-content: center;
      width: 100%;
      background-color: #94999c;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      right: 0px;
      border-radius: 6px;
    }
    .navbar .nav-links a {
      display: block;
    }
  
    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
  
    /* when nav toggle button is checked */
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 70px);
      overflow-y: auto;
    }
  
    .navbar .nav-links .loginBtn {
      padding: 10px 40px;
      margin: 20px;
      font-size: 14px;
      font-family: "Urbanist", sans-serif;
      color: rgb(255, 255, 255);
    }
    /* Responsive dropdown code */
    .navbar .nav-links .dropdown,
    .navbar .nav-links .dropdown2 {
      float: none;
      width: 100%;
    }
    .navbar .nav-links .drop-content,
    .navbar .nav-links .drop-content2 {
      position: relative;
      background-color: #858b8f;
      top: 0px;
      left: 0px;
    }
    /* Text color sub menu Hamburguesa */
    .navbar .nav-links .drop-content a {
      color: rgb(255, 255, 255);
    }
  }
  
  /* Dropdown menu CSS code */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .drop-content,
  .drop-content2 {
    display: none;
    position: absolute;
    background-color: #9ea3a7;
    border-radius: 6px;
    min-width: 120px;
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
    top: 34px;
  }
  /* on hover show dropdown */
  .dropdown:hover .drop-content,
  .dropdown2:hover .drop-content2 {
    display: block;
  }
  /* Color lineas links */
  .drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid #757c81;
    display: block;
    transition: all 0.5s ease !important;
  }
  .dropBtn .drop-content a:hover {
    background-color: rgb(250, 158, 102) ;
  }
  .dropdown:hover .dropBtn,
  .dropdown2:hover .dropBtn2 {
    background-color: rgb(250, 158, 102) ;
  }
  .dropdown2 .drop-content2 {
    position: absolute;
    left: 120px;
    top: 126px;
  }
  .dropBtn2 i {
    margin-left: 15px;
  }

  /*Perfil */
  .titulo h1 {
    text-align: center;
    color: #ff6529; 
    margin-top: 20%;   
    font-size: 100px;
    font-family: 'Lora', serif;
  }
  
 
  /*Pantalla dividida*/
  .izquierda {   
    background: #3157ad;
    opacity: 1;
    
    background-repeat: no-repeat;
   
    width: 50%;
    margin: auto;
    
  }
  
  .derecha {  
    background: #ffffff;
    background-repeat: no-repeat;
    margin-top: 0%;
   
    width: 50%;
  }
  
  #pantalla-dividida {
    background-image: url(../img/textura2.png);
    display: flex;
   
    justify-content: space-evenly
  }
  

  .pantalla_izquierda{
    background-repeat: no-repeat;
    width: 25%;
    float: left;
    /* margin-left: 10px; */
    /* margin-top: 150px; */
    background: #000000e0;
    border-radius: 20px;
    /* margin: auto; */
    /* margin-right: 40px; */
    height: 20%;
    padding: 15px;
    margin: 60px;
    
  background-image: url(../img/textura1.png);
}


  /*Perfil*/
  .grid{
    display: block;
    max-width: 1100px;
    justify-content: center;
    margin: auto;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));/*Esto es para no alterar el tamaño de las cardes*/
    padding-bottom: 40px;
    width: 70%;
    
}



.items img{
  height: 70%;
  width: 80%;
  border-radius: 50%;

}

.info{
    padding: 15px;
}

.info h3{
    font-size: 1.6rem;
}

.info p{
    font-size: 1.8rem;
}


.precio p:first-child{
    text-decoration: line-through;    
}

.precio{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.precio p{
    font-size: 1.8rem;
}

.info h3,
.info p{
    color: #000000;
    margin-bottom: 15px;
    font-size: 20px;
    display: contents;
}

.info button{
    color: #f3f3f3;
    padding: 1rem;
    width: 100%;
    background-color: #000000;
    border: none;
    outline: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.info button:hover{
    background-color: #c34b2dc0;
    transition: all .3;
}


/*Secciones*/

section {
  height: 40%;
  margin: auto;
  box-sizing: border-box;
  background: #ffffffe0;
}

#menu { 
  background: #000000e0;
  background-image: url(../img/textura.png);
  color: #000000;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 250px);
  justify-content: center;
  align-content: center;
  grid-template-areas:
      "about about projects projects"
      "about about posts contact";
  padding: 70px;
  /* margin: auto; */
  border-radius: 20px;
  
}

#menu .tile {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
#menu .tile a {
  text-decoration: none;
}
#menu .tile .front {
  color: rgb(0, 0, 0);
  background-color: black;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: all 0.3s ease;

  padding: 20px;
  box-sizing: border-box;
}
#menu .tile:hover .front {
  margin-top: -100%;
}
#menu .projects-tile:hover .front {
  margin-top: -50%;
}

#menu .tile .back {
  background: #07315ae8;
  color: rgb(254, 255, 255);
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-size: 28px;
}

#menu .logo-tile {
  grid-area: logo;
  background-color: red;
}

#menu .about-tile {
  grid-area: about;
  background-color: rgba(255, 0, 0, 0.353);
}

#menu .about-tile .front {
  background-image: url(../img/1.png);
  background-size: cover;
  background-position: top center;
}

#menu .projects-tile {
  grid-area: projects;
  background-color: rgba(255, 255, 0, 0.474);
}

#menu .projects-tile .front {
  background-image: url(../img/2.png);
  background-size: cover;
  background-position: top center;
}

#menu .posts-tile {
  grid-area: posts;
  background-color: rgba(0, 255, 119, 0.448);
}
#menu .posts-tile .front {
  background-image: url(../img/3.png);
  background-size: cover;
  background-position: top center;
}
#menu .contact-tile {
  grid-area: contact;
  background-color: rgba(224, 151, 61, 0.533);
}
#menu .contact-tile .front {
  background-image: url(../img/4.png);
  background-size: cover;
  background-position: top center;
 
}
#menu p{
  margin: auto;
  text-align: center;
  color: #f3f3f3;
  padding: 10px;
  font-family: "Lora" serif;
  font-size: 17px;
}
/*Descripcion Personal*/
.descripcionPersonal{
  color:#3157ad;
  background-color: #f3f3f3;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;

 

}

.descripcionPersonal h3{
  color: #3157ad;
  font-size: 20px;
  font-family: "Lato" sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  margin: auto;

}

.completarCampo{
  background-color: #ffffff;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  

}

.completarCampo p{
  color: #000000;
  font-size: 15px;
}

.completarCampo h3{
  color: #000000;
  font-size: 15px;
}

/*Formulario estrellas*/
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

#estrellas, #valosAñadido, #radiol, #radio2, #radio3, #radio4 {
  color: rgb(255, 255, 255);
  padding: 3px;
  direction:rtl;
  unicode-bidi: bidi-override;
  
}

.clasificacion  {
  font-size: 20px;
  direction: ltr;
  unicode-bidi: bidi-override;
  text-align: center;
}

#estrella label:hover,
label:hover ~ label {
  color: orange;
}

#estrella input[type="radio"]:checked ~ label {
  color: orange;
  display: flex;
}

#testimonios_titulos {
  display: flex;
}

 label>.contenedor {
  font-size: 20px;
  text-align: left;
  color: #fff; 
}