@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 body{
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  /*background-image: url("../imagen/fonfoTextura5.png");*/
  
  
 
 }

 a:link {
  text-decoration: none;
  margin: auto;
}




.contenedor-color img{
  height: 100px;
}

.titulo h1 {
text-align: center;

margin-top: 10%; 
margin-left: 7%;
font-size: 39px;
font-family: 'Lora', serif;
  }
  
span {  
font-size: 39px;
font-family: 'Lora', serif;
color:#4674df;
  }



.der p{
margin-top: 0;
color: #fff;
font-family: "Lato", sans-serif;
font-size: 13.5px;
font-weight: 100;
  }

.der img{
margin-top: 40px;
margin-left: 33%;
width: 35%;
}


.izq p{
margin-top: 0; 
color: #fff;   
font-family: "Lato", sans-serif;
font-size: 13.5px;
font-weight: 100;
}

.izq img{
  margin-top: 40px;
margin-left: 30%;
width: 40%;
}

 

.dividido{
 display: flex;

  }

/*Slider*/


.slider {
  width: 100vw;
  height: 80vh;
  margin: auto;
  overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
  
	width: 100%;
  margin: auto;
  
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

 /*MENU NAV*/
 
.hero {
    
    background: rgba(0, 0, 0, 0.575);  
    color: #fff;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "nav"
      "content";   
    width: 100%;
    
    position: fixed;
  z-index: 999;
  }
  
  .nav__logo {
  
    font-size: 2rem;
    font-weight: 300px;
    font-family: "Lora", sans-serif;
  }
  
  .navbar {    
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    padding: 5px 30px;
    
  }
  
  .navbar .nav-header {
    margin: auto;
    display: inline;
  }
  .navbar .nav-header .nav-logo {
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links {
    display: inline;
    float: right;
    font-size: 5px;
  }
  
  /*Tipografia menu*/
  .navbar .nav-links a {
    font-family: "Lato", sans-serif;
    padding: 20px 12px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
  }
  /* Hover effects */
  .navbar .nav-links a:hover {
    background-color: #fa9e69;
    border-radius: 6px;
  }
  
  /* responsive navbar toggle button */
  .navbar #nav-check,
  .navbar .nav-btn {
    display: none;
  }
  
  @media (max-width: 700px) {

    .navbar{
      background-color: #94999c;
    }
    .nav__logo{
      z-index: 2000;
    }
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 70px);
      overflow-y: auto;
      
    }
    .navbar .nav-btn {
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
      
    }
    /*Icono Hamburguesa*/
    .navbar .nav-btn label {
      display: inline-block;  
      width: 80px;
      height: 70px;
      padding: 25px;
    }
  
    /*Color lineas hamburguesa*/
   
    .navbar .nav-btn label:hover,
    .navbar #nav-check:checked ~ .nav-btn label {
      transition: all 0.5s ease;
    }
    /* Color fondo Menu Hamburguesa*/
    .navbar .nav-links {
      position: absolute;
      display: block;
      text-align: center;
      justify-content: center;
      width: 100%;
      background-color: #94999c;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      right: 0px;
      border-radius: 6px;
    }
    .navbar .nav-links a {
      display: block;
    }
  
    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
  
    /* when nav toggle button is checked */
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 70px);
      overflow-y: auto;
    }
  
    .navbar .nav-links .loginBtn {
      padding: 10px 40px;
      margin: 20px;
      font-size: 14px;
      font-family: "Urbanist", sans-serif;
      color: rgb(255, 255, 255);
    }
    /* Responsive dropdown code */
    .navbar .nav-links .dropdown,
    .navbar .nav-links .dropdown2 {
      float: none;
      width: 100%;
    }
    .navbar .nav-links .drop-content,
    .navbar .nav-links .drop-content2 {
      position: relative;
      background-color: #858b8f;
      top: 0px;
      left: 0px;
    }
    /* Text color sub menu Hamburguesa */
    .navbar .nav-links .drop-content a {
      color: rgb(255, 255, 255);
    }
  }
  
  /* Dropdown menu CSS code */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .drop-content,
  .drop-content2 {
    display: none;
    position: absolute;
    background-color: #9ea3a7;
    border-radius: 6px;
    min-width: 120px;
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
    top: 34px;
  }
  /* on hover show dropdown */
  .dropdown:hover .drop-content,
  .dropdown2:hover .drop-content2 {
    display: block;
  }
  /* Color lineas links */
  .drop-content a {
    padding: 12px 10px;
    border-bottom: 1px solid #757c81;
    display: block;
    transition: all 0.5s ease !important;
  }
  .dropBtn .drop-content a:hover {
    background-color: rgb(250, 158, 102) ;
  }
  .dropdown:hover .dropBtn,
  .dropdown2:hover .dropBtn2 {
    background-color: rgb(250, 158, 102) ;
  }
  .dropdown2 .drop-content2 {
    position: absolute;
    left: 120px;
    top: 126px;
  }
  .dropBtn2 i {
    margin-left: 15px;
  }
  
  
  /*Pantalla dividida*/
.izq{
  text-align: center;
  margin: auto;
  width: 33.3%;
  }

.der{
  text-align: center;
  margin: auto;
  width: 33.3%;   
    }
  
  .medio{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
        
        }
      
  #pantalla-dividida {  
   text-align: center;
   align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    
      
  }

  /*Texto sobre imagen slider*/

  .wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(../imagen/1.png);
    background-size: cover;
    background-position: center;
    }

    #wrap1{
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: end;
      justify-content: center;
      background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(../imagen/2.png);
      background-size: cover;
      background-position: center;
    
      }

      #wrap2{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: end;
        justify-content: center;
        background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(../imagen/3.png);
        background-size: cover;
        background-position: center;
  
        }

        #wrap3{
          width: 100vw;
          height: 100vh;
          display: flex;
          align-items: end;
          justify-content: center;
          background: linear-gradient(to bottom, rgb(0 0 0 / .5),rgb(0 0 0 / .5)),url(../imagen/4.png);
          background-size: cover;
          background-position: center;
         
          }
     
    .wrap-texto{
      
      font-family: "Lora"serif;
      text-align: center;
      font-size: 25px;
      color: #ffffff;
      margin: auto;      
      width: 50%;
      }
    .wrap-texto p {
   
      font-family: "Lato" sans-serif;
      text-align: center;
      font-size: 22px;
      color: #fff;
      margin: 12px auto ;      
      width: 50%;
    }  
  /***********************************************/
  
  .content {   
    margin: -20%;
    text-align: center;
  } 
  
  .content a {   
    margin: auto;
    text-align: center;
    border-radius: 9px;
    text-decoration: none;
    color: #f9f3f4;    
    border: 3px solid;
    padding: 7px 13px;
  }
  
  .content a:hover {
    color:#6bc5ec;
  }

  #button1  {   
    font-size: 18px;
    text-align: center; 
     justify-content: center;
    border: none;    
    color: #000000; 
   
    display: flex;
    background: #ffffff;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 12px;
    margin: -20px 5px;
    font-weight: 300;
  }

  #button2  {
    font-size: 18px;
    text-align: center;
    display: flex;
    border: none;  
    color: #000000; 
    
    justify-content: center;
    background: #ffffff;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 12px;    
    margin: -20px 5px;
    font-weight: 300;
  }

  #button3 {
    font-size: 18px;
    text-align: center;
    display: flex;
    border: none;    
    color: #000000; 
    
    background: #ffffff;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 12px;
    margin: -20px 5px;
    font-weight: 300;
  }

 
  #button3:hover {
    background: #fa9e69;
  }

  #button2:hover {
    background: #fa9e69;
  }

  #button1:hover {
    background: #fa9e69;
  }
  
  /*:::::Pie de Pagina*/
.pie-pagina {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #020305;
}
.pie-pagina .grupo-1 {
  text-align: center;
  width: 100%;  
 
  grid-gap: 50px;
  padding: 45px 0px;
  border-radius: 6px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
 
  text-align: center;
  color: #fff;
  margin-bottom: 25px;
  font-size: 15px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 45px;
  color: #fff;
  margin-left: 10px;
  background-color: #ffffffc5;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 6px;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #a3a3a3;
  padding: 15px 10px;
  text-align: center;
  color: #2c2c2cb4;
 
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}


@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

#face{
  color: #efefef;
  background-color: #efefef;
}

