/*Estilo contenedor formulario*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   margin: 0;
  background-repeat: no-repeat;
}



.titulo h1 {
  color: #ff6529; 
  margin-top: 20%; 
 
  font-size: 100px;
  font-family: 'Lora', serif;
  text-align: center;
}


.hero {
    
  background: rgba(0, 0, 0, 0.575);  
  color: #fff;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "nav"
    "content";   
  width: 100%;
  
  position: fixed;
z-index: 999;
}

.nav__logo {

  font-size: 2rem;
  font-weight: 300px;
  font-family: "Lora", sans-serif;
}

.navbar {    
  grid-area: nav;
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  gap: 1em;
  align-items: center;
  padding: 5px 30px;
  
}

.navbar .nav-header {
  margin: auto;
  display: inline;
}
.navbar .nav-header .nav-logo {
  display: inline-block;
  margin-top: -7px;
}
.navbar .nav-links {
  display: inline;
  float: right;
  font-size: 5px;
}

/*Tipografia menu*/
.navbar .nav-links a {
  font-family: "Lato", sans-serif;
  padding: 20px 12px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
}
/* Hover effects */
.navbar .nav-links a:hover {
  background-color: #fa9e69;
  border-radius: 6px;
}

/* responsive navbar toggle button */
.navbar #nav-check,
.navbar .nav-btn {
  display: none;
}

@media (max-width: 700px) {

  .navbar{
    background-color: #94999c;
  }
  .nav__logo{
    z-index: 2000;
  }
  .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
    
  }
  .navbar .nav-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    
  }
  /*Icono Hamburguesa*/
  .navbar .nav-btn label {
    display: inline-block;  
    width: 80px;
    height: 70px;
    padding: 25px;
  }

  /*Color lineas hamburguesa*/
 
  .navbar .nav-btn label:hover,
  .navbar #nav-check:checked ~ .nav-btn label {
    transition: all 0.5s ease;
  }
  /* Color fondo Menu Hamburguesa*/
  .navbar .nav-links {
    position: absolute;
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #94999c;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
    border-radius: 6px;
  }
  .navbar .nav-links a {
    display: block;
  }

  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }

  .navbar .nav-links .loginBtn {
    padding: 10px 40px;
    margin: 20px;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    color: rgb(255, 255, 255);
  }
  /* Responsive dropdown code */
  .navbar .nav-links .dropdown,
  .navbar .nav-links .dropdown2 {
    float: none;
    width: 100%;
  }
  .navbar .nav-links .drop-content,
  .navbar .nav-links .drop-content2 {
    position: relative;
    background-color: #858b8f;
    top: 0px;
    left: 0px;
  }
  /* Text color sub menu Hamburguesa */
  .navbar .nav-links .drop-content a {
    color: rgb(255, 255, 255);
  }
}

/* Dropdown menu CSS code */
.dropdown {
  position: relative;
  display: inline-block;
}
.drop-content,
.drop-content2 {
  display: none;
  position: absolute;
  background-color: #9ea3a7;
  border-radius: 6px;
  min-width: 120px;
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  top: 34px;
}
/* on hover show dropdown */
.dropdown:hover .drop-content,
.dropdown2:hover .drop-content2 {
  display: block;
}
/* Color lineas links */
.drop-content a {
  padding: 12px 10px;
  border-bottom: 1px solid #757c81;
  display: block;
  transition: all 0.5s ease !important;
}
.dropBtn .drop-content a:hover {
  background-color: rgb(250, 158, 102) ;
}
.dropdown:hover .dropBtn,
.dropdown2:hover .dropBtn2 {
  background-color: rgb(250, 158, 102) ;
}
.dropdown2 .drop-content2 {
  position: absolute;
  left: 120px;
  top: 126px;
}
.dropBtn2 i {
  margin-left: 15px;
}

/*Pantalla dividida*/
.izquierda {   
  background:  #cecece;
  opacity: 1;
  background-image: url("../imagen/textura1.png");
  background-repeat: no-repeat;
  height: 160vh;
  width: 50%;
  margin: auto;
  
}

.derecha {  
  background: #dff4fd;
  background-repeat: no-repeat;
  margin-top: 0%;
  height: 160vh;
  width: 50%;
}

#pantalla-dividida {  
  display: flex;
  background: #fcf4ea;
}




/*Estilo formularios*/
.contenedor {
  margin: auto;
  width: 85%;
  padding: 15px;
  padding-top: 40px;
}
.formulario {
  font-family: 'Lora', serif;
 
  background: rgba(255, 255, 255, 0.5) ;
  margin-top: 150px;
  padding: 3px;
}


input[type="file"],
input[type="text"],
input[type="_email"],
input[type="_number"],
input[type="password"] {
  font-size: 17px; 
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.1) ;
}

input[type="checkbox" i] {
  margin-left: 50%;
}

textarea {
  height: 80px;
  width: 100%;
  resize: none;
  border-color: #fff;
}

.input-contenedor { 
  border-radius: 12px;
  border: 1px solid #aaa;
}
.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}
.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 18px;
  background: #46a2fd;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 12px;
}
.button:hover {
  background: rgb(111, 188, 164);
}
p {
  margin: 10px;
  font-size: 15px;
  text-align: center;
}
.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}
.link:hover {
  color: rgb(95, 122, 160);
}

/*Codigo boton file*/

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  width: 90%;
  background-color: #636466;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: "Seleccionar"; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;

  height: 32px;
  display: inline-block;
  border-radius: 12px;
}

#src-file1::before {
  border-radius: 12px;
  content: "Subir foto.";
}

@media (min-width: 768px) {
  .formulario {
    opacity: 1;
    margin: auto;
    width: 400px;
    margin-top: 70px;
    border-radius: 12px;
  }
}


/*Seleccionar opcion*/

.content-input input,
.content-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
  display: none;
}
.content-select {
  max-width: 250px;
  position: relative;
}

.content-select select {
  display: inline-block;
  width: 120%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 1em;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.content-select select:hover {
  background: #b1e8cd;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i {
  position: absolute;
  right: 20px;
  top: calc(50% - 13px);
  width: 16px;
  height: 16px;
  display: block;
  border-left: 4px solid #2a80c1;
  border-bottom: 4px solid #2a80c1;
  transform: rotate(-45deg); /* Giramos el cuadrado */
  transition: all 0.25s ease;
}

.content-select:hover i {
  margin-top: 3px;
}

/*Formularios*/

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  text-align: center;

  /*La transicion va despues del codigo JS*/
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: white;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46a2fd;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  background: #46a2fd;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  justify-content: center;
}

.formulario__login {
  opacity: 1;
  display: block;
  width: 100%;
  border-radius: 3px;
  color: #000;
  outline: none;
  padding: 10px 0;
}
.formulario__register {
  display: none;
}

