<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/estilosCarrito.css">
        <title>Carrito de Alquiler</title>
    </head>
    <body>
        <header class="hero">      
            <div class="navbar">  
                <div><h2 class="nav__logo"><img th:src="@{../img/logo.png}" class="image"  width="30%" height="30%"
                                                /></h2></div>  
                <div class="nav-links">      

                    <div class="nav-header">               
                        <a th:href="@{/}">Inicio</a>
                    </div>
                </div>                
            </div>
        </div>      
    </header>   
    <div class="color">
        <h1>Alquiler de quinchos</h1>
        <div class="grid">
            <div class="items">
                <img src="../img/casa1.jpg" alt="">
                <div class="info">
                    <h3>Quincho para eventos</h3>
                    <p>Extras: garage, patio, pscina</p>
                    <div class="precio">
                        <p>$60.000</p>
                        <p>$100.000</p>
                    </div>
                    <button>Agregar al carrito</button>
                </div>
            </div>
            <div class="items">
                <img src="../img/casa1.jpg" alt="">
                <div class="info">
                    <h3>Quincho para eventos</h3>
                    <p>Extras: garage, patio, pscina</p>
                    <div class="precio">
                        <p>$60.000</p>
                        <p>$100.000</p>
                    </div>
                    <button>Agregar al carrito</button>
                </div>
            </div>
            <div class="items">
                <img src="../img/casa1.jpg" alt="">
                <div class="info">
                    <h3>Quincho para eventos</h3>
                    <p>Extras: garage, patio, pscina</p>
                    <div class="precio">
                        <p>$60.000</p>
                        <p>$100.000</p>
                    </div>
                    <button>Agregar al carrito</button>
                </div>
            </div>


        </div>

        <div class="container">
            <nav>
                <i class="fa-solid fa-cart-shopping">       
                    <div class="buy-card">
                        <ul class="nav-card">
                            <li>Imagen</li>
                            <li>Nombre</li>
                            <li>Precio</li>
                            <li>Servicios</li>
                            <li>Cantidad</li>
                        </ul>
                        <button>VACIAR CARRITO</button>
                    </div>
                </i>
            </nav>
            <h1>Alquiler de quinchos</h1>
            <div class="grid">
                <div class="items">
                    <img src="../img/casa1.jpg" alt="">
                    <div class="info">
                        <h3>Quincho para eventos</h3>
                        <p>Extras: garage, patio, pscina</p>
                        <div class="precio">
                            <p>$60.000</p>
                            <p>$100.000</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>

                <div class="items">
                    <img src="../img/casa2.jpg" alt="">
                    <div class="info">
                        <h3>Quincho para eventos</h3>
                        <p>Extras: garage, patio, pscina</p>
                        <div class="precio">
                            <p>$60.000</p>
                            <p>$100.000</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>

                <div class="items">
                    <img src="../img/casa3.jpg" alt="">
                    <div class="info">
                        <h3>Quincho para eventos</h3>
                        <p>Extras: garage, patio, pscina</p>
                        <div class="precio">
                            <p>$60.000</p>
                            <p>$100.000</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>

                <div class="items">
                    <img src="../img/casa4.jpg" alt="">
                    <div class="info">
                        <h3>Quincho para eventos</h3>
                        <p>Extras: garage, patio, pscina</p>
                        <div class="precio">
                            <p>$60.000</p>
                            <p>$100.000</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>

                <div class="items">
                    <img src="../img/1.png" alt="">
                    <div class="info">
                        <h3>Quincho para eventos</h3>
                        <p>Extras: garage, patio, pscina</p>
                        <div class="precio">
                            <p>$60.000</p>
                            <p>$100.000</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>

                <div class="items">
                    <img src="../img/2.png" alt="">
                    <div class="info">
                        <h3>Quincho para eventos</h3>
                        <p>Extras: garage, patio, pscina</p>
                        <div class="precio">
                            <p>$60.000</p>
                            <p>$100.000</p>
                        </div>
                        <button>Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>


</body>
</html>
