<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Gallery</title>
        <link rel="stylesheet" href="./css/estilosGaleria.css">
    </head>
    <body>
        <header class="hero">
            <div class="navbar">
                <div>
                    <h2 class="nav__logo"><img th:src="@{../img/logo.png}" class="image" width="30%" height="30%"/></h2>
                </div>
                <div class="nav-links">
                    <div class="nav-header">
                        <a href="carritoAlquiler.html">Alquileres</a>
                        <a href="home.html">Inicio</a>
                        <a href="#">Perfil</a>
                    </div>
                </div>
            </div>       
        </header>
        <br><br><br> <br> <br>
        <h1><span>Galeria de imagenes</span></h1>

        <main class="division">
            <div class="ful-img" id="fulImgBox">
                <img src="imgs/1.jpg" id="fulImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>

            <div class="img-gallery">
                <img src="../img/casa1.jpg" onclick="openFulImg(this.src)" alt="">
                <img src="../img/casa2.jpg" onclick="openFulImg(this.src)" alt="">
                <img src="../img/casa3.jpg" onclick="openFulImg(this.src)" alt="">
                <img src="../img/casa4.jpg" onclick="openFulImg(this.src)" alt="">
                <img src="../img/casa4.jpg" onclick="openFulImg(this.src)" alt="">
                <img src="../img/casa2.jpg" onclick="openFulImg(this.src)" alt="">
                <img src="../img/casa1.jpg" onclick="openFulImg(this.src)" alt="">
                <img src="../img/casa3.jpg" onclick="openFulImg(this.src)" alt="">
            </div>
        </main>

        <script src="./js/galeria.js"></script>
    </body>
</html>